<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@using Multi_Page_WebApp_Contacts.Models

<!--Using Contact object as a model to display properties of that object to the user.-->
@model Contact
@{
    ViewData["Title"] = "Delete Contact";
}

<h2>Confirm Deletion</h2>

<h3>@Model.Name (@Model.PhoneNumber)</h3>

<!--Action is specified, but not controller, resulting in posting to the Delete() action of current controller (Contact Controller)-->
<form asp-action="Delete" method="post">

    <!--Bound to hidden field so the ContactId is passed to the Delete() action method when submitted.-->
    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-primary">Delete</button>

    <!--Using tag helpers to request the Index() action of the Home controller, displaying the Home/Index view.-->
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>